.game-links
  if game.web
    a(href="#{ game.web }" target="_blank" title="Play it!") 
      i.fa.fa-gamepad
      label Play it!
  if game.mobile
    a(href="#{ game.mobile }" target="_blank" title="Play on a touch device") 
      i.fa.fa-mobile
      label Play on a touch device
  if game.steam
    a(href="#{ game.steam }" target="_blank" title="Steam") 
      i.fa.fa-steam
      label Steam
  if game.android
    a(href="#{ game.android }" target="_blank" title="Android") 
      i.fa.fa-android
      label Android
  if game.apple
    a(href="#{ game.apple }" target="_blank" title="iOS") 
      i.fa.fa-apple
      label iOS
  if game.windows
    a(href="#{ game.windows }" target="_blank" title="Windows") 
      i.fa.fa-windows
      label Windows
  if game.github
    a(href="#{ game.github }" target="_blank" title="Source") 
      i.fa.fa-github
      label Source
